<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076543723806-rgruruelj74872lcg70ulsp4h0upldsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076543723806-rgruruelj74872lcg70ulsp4h0upldsb</string>
	<key>API_KEY</key>
	<string>AIzaSyD_CEMNX3f1PKQMrCV5u-VcgD94A7aLs60</string>
	<key>GCM_SENDER_ID</key>
	<string>1076543723806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managementApp</string>
	<key>PROJECT_ID</key>
	<string>mantravat-intern</string>
	<key>STORAGE_BUCKET</key>
	<string>mantravat-intern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076543723806:ios:1ee907d6b451d2eb79110f</string>
</dict>
</plist>